.tv-schedule {
  width: 100%;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#timeline-container {
  overflow-x: auto;
  white-space: nowrap;
}

#timeline {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time-slot {
  margin-right: 20px;
}

.program {
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 10px;
}
