:root {
  --linear-gradient-orange: linear-gradient(90deg, #d82b4e, #ff7200);
  --linear-gradient-purple: linear-gradient(
    90deg,
    rgb(188, 46, 220),
    rgb(10, 108, 255)
  );
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a,
i,
button,
.filter-icon,
.settings-icon,
#prev,
#next {
  cursor: pointer;
}

#schedule-wrapper {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin-left: 20px;
}

.tv-schedule {
  width: 100%;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 1000px;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  padding-left: 12rem;
}

@media (max-width: 768px) {
  .pagination {
    padding-left: 8rem;
  }
}

#timelines-container {
  overflow-x: scroll;
  width: 100%;
  padding-left: 1rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#timelines-container::-webkit-scrollbar {
  display: none;
}

.timeline {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time-slot {
  margin-right: 15px;
}

.program {
  position: relative;
  border: 2px solid #ddd;
  padding: 8px;
  margin-top: 10px;
  width: 24vw;
  text-wrap: wrap;
}
@media (max-width: 468px) {
  .program {
    padding-right: 1rem;
  }
}
.adult {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: rgb(255, 49, 49);
}

.program:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#channels-container {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  border-right: solid 1px #ddd;
  padding-right: 0.5rem;
  width: 140px;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

.channel-name {
  text-wrap: wrap;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 110px;
  right: 20px;
}

div.hidden,
button.hidden,
span.hidden {
  display: none;
}

.show {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#program-details {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#program-details h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 24px;
}

#program-details p {
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
}

#program-name {
  font-weight: bold;
  margin-top: 0;
}

#program-channel {
  font-weight: bold;
  font-size: 16px;
  margin-right: 0.5rem;
}

#program-type {
  font-style: italic;
}

.filled-star {
  background-color: #f1c30b;
  border-radius: 50%;
  margin-right: 2px;
}

.btn-watchlist {
  background: var(--linear-gradient-orange);
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  height: 55px;
}

div.linear-gradient-orange {
  background: var(--linear-gradient-orange);
}

button.linear-gradient-purple {
  background: var(--linear-gradient-purple);
}

.btn-watchlist:hover {
  background: var(--linear-gradient-purple);
}
.btn-sign {
  margin-right: 10px;
  font-size: 30px;
  vertical-align: sub;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.settings-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.filter-container {
  display: flex;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 65px;
  right: 14px;
  background-color: #e0e0e0;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 5px;
  z-index: 3;
}

#filter-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 63px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e0e0e0;
}

#settings-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 16px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e0e0e0;
}

#filter-btn-apply {
  margin-top: 0.5rem;
}

.settings-btn {
  background-color: #ff7200;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

#rating-value-min {
  margin-right: 4px;
}

.filter-categories {
  margin-bottom: 0.5rem;
}

#filter-watchlist {
  vertical-align: middle;
}
